.box-size {
  width: 1000px;
  min-height: 255px;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  position: relative;
  margin-top: 10px;
}
.item1 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin-top: 0;
}
.item1 img {
  width: 141px;
  height: 103px;
  left: 20px;
}
.item1 p {
  margin-top: 10px;
  text-align: center;
}
.item1 h2 {
  width: 44px;
  height: 44px;
  border: 2px solid #e1e4e6;
  border-radius: 9999px;
  text-align: center;
  margin-bottom: 10px;
  left: 0;
}
.item2 {
  width: 490px;
  line-height: 24px;
  size: 16px;
  margin-top: 30px;
}
.content1 {
  width: 490px;
}
.content1 span {
  font-weight: bold;
  font-size: 15px;
}
.content2 h3 {
  font-weight: bold;
  font-size: medium;
}
.content2 p {
  width: 483px;
  size: 15px;
  padding: 10px;
}
.content3 {
  display: flex;
  align-items: center;
  color: #1b88f4;
}
.content3 p {
  width: 85px;
  height: 24px;
}
.content3 span {
  width: 16px;
  height: 16px;
}
.item3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.item3Box {
  width: 135px;
  height: 118px;
  background-color: #f3f9ff;
  border-radius: 0px 0px 12px 12px;
  text-align: center;
  padding: 8px;
}
.item3Box h5 {
  /* width: 79px;
  height: 20px; */
  size: 14px;
  color: #074786;
  text-align: center;
}
.item3 h1 {
  color: #074786;
}
.button {
  width: 232px;
  height: 48px;
  background-color: #1b88f4;
  margin-bottom: 10px;
  border-radius: 12px;
  color: white;
}
.special {
  position: absolute;
  width: 136px;
  height: 34px;
  background-color: #ff7724;
  color: white;
  z-index: 10;
  text-align: center;
  border-radius: 12px;
  padding: 2px;
}

@media screen and (max-width: 768px) {
  .box-size {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: auto;
  }
}
