.header {
  width: 100%;
  height: 64px;
  background-color: #212731;
  color: #d1d6da;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item {
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.input {
  border-radius: 8px;
  position: relative;
}
.search-icon {
  position: absolute;
  margin-right: 655px;
  z-index: 10;
  color: black;
}
