.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbfcfd;
}
.ContentAlign {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  gap: 10px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.top {
  width: 1000px;
  margin-top: 20px;
}
.top1 {
  display: flex;
  font-size: 13px;
  margin-top: 10px;
  border: 1px solid #e1e4e6;
}
.ul {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  .ContentAlign {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .tob {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: auto;
  }
}
